<section class="callback">
  <div class="container">
    <img
      class="img-callback"
      src="../img/callback/callback@1.jpg"
      srcset="
        ../img/callback/callback@1.jpg 1x,
        ../img/callback/callback@2.jpg 2x
      "
      width="680"
      height="460"
      alt="callback"
    />
    <div class="callback-form">
      <form class="callback_form">
        <p class="head-callback">Request Callback</p>
        <input
          type="text"
          name="name"
          class="name-callback"
          placeholder="Enter your name"
          minlength="3"
        />
        <input
          class="name-callback"
          type="email"
          name="mail"
          placeholder="Enter email*"
          required
          minlength="6"
          maxlength="12"
        />
        <button class="btn-callback" type="submit">send</button>
      </form>
    </div>
  </div>
</section>
