<section class="solutions">
  <div class="solutions-conteiner conteiner">
    <div class="solution-left-side">
      <img
        src="./img/solutions/comand.jpg"
        alt="comand"
        width="680"
        height="460"
      />
    </div>
    <div class="solution-right-side">
      <h2 class="solutions-title">What you are looking for</h2>
      <h3 class="solutions-subtitle">We provide bespoke solutions</h3>
      <p class="solutions-txt">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button type="button" class="solutions-btn">Read More</button>
    </div>
  </div>
</section>
