<section class="team">
  <p>
   Who we are
  </p>
  <h2>Our Professional Team</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>

  <ul>
    <li>
      <img src="../img/team/team-1.jpg" alt="">
      <h3>John Doe</h3>
      <p>President</p>
    </li>
    <li><img src="../img/team/team-2.jpg" alt="">
      <h3>John Doe</h3>
      <p>President</p></li>
    <li>
      <img src="../img/team/team-3.jpg" alt="">
      <h3>John Doe</h3>
      <p>President</p>
    </li>
  </ul>

</section>
