/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./root.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./features.css');
@import url('./solutions.css');
@import url('./cases.css');
@import url('./blog.css');
@import url('./team.css');
@import url('./callback.css');
@import url('./footer.css');
